// Color system
$color-base: #1F0A39;
$color-base-light:#5B6770;

$white: #fff;
$gray: #ECEEF9;
$black: #1F0A39;
$black-gray-bg: #F8F8FF;;
$black-gray-color: #282828;

$blue: #0C29DA;
$yellow: #ffc107;
$green: #4C9F16;
$primary: $blue;
$secondary: $gray;
$success: $green;
$warning: $yellow;
$danger: #fc5909;
$blue: #247EFF;



// Body
//
// Settings for the `<body>` element.
$font-size-base: 14px;
$font-size-base-sm: 12px;
$font-fbase: 'Roboto', sans-serif;
$font-weight-normal: 400;

$body-bg: #F5F5F5;
$white-bg: #fff;

// Paragraphs
//
// Style p element.
$paragraph-margin-bottom: 20px;
$brand-color: #0C29DA;
$brand-color-bg:linear-gradient(103deg, #0D2CDB 0%, #037CDF 100%);
$brand-color-bg-dark:#0C29DA;
$btn-brand-bg-dark: #0D2CDB; 

// Typography
//
// Font, line-height, and color for body text, headings, and more.
$font-fbase: "Montserrat";
$heading-margin-bottom: 20px;
$h1-font-size: 46px;
$h2-font-size: 40px;
$h3-font-size: 38px;
$h4-font-size: 36px;
$h5-font-size: 20px;
$h6-font-size: 18px;

// Forms
$btn-font-size: 16px;
$btn-padding:18px 35px;
$btn-bdr-padding:17px 35px;
$btn-color: #0C29DA;
$btn-color-bg: transparent;
$btn-border-color: transparent;
$btn-focus-border: transparent;
$btn-focus-color: #0C29DA;
$btn-focus-color-bg: transparent;

$btn-brand-bg:linear-gradient(103deg, #0D2CDB 0%, #037CDF 100%);
$btn-brand-bdr: rgba(0,0,0,0);
$btn-brand-color: #fff;
$btn-focus-brand-bg:linear-gradient(103deg, #037CDF 0%, #0D2CDB 100%);
$btn-focus-brand-bdr: rgba(0,0,0,0);
$btn-focus-brand-color: #fff;

$btn-success-bg: $green;
$btn-success-bdr: $green;
$btn-success-color: #fff;
$btn-focus-success-bg:#fff;
$btn-focus-success-bdr: $green;
$btn-focus-success-color: $green;

$btn-blue-bg: $blue;
$btn-blue-bdr: $blue;
$btn-blue-color: #fff;
$btn-focus-blue-bg:#fff;
$btn-focus-blue-bdr: $blue;
$btn-focus-blue-color: $blue;

$btn-danger-bg: #a50808;
$btn-danger-bdr: #a50808;
$btn-danger-color: #fff;
$btn-focus-danger-bg:#fff;
$btn-focus-danger-bdr: #a50808;
$btn-focus-danger-color: #a50808;

$btn-warning-bg: $warning;
$btn-warning-bdr: $warning;
$btn-warning-color: #fff;
$btn-focus-warning-bg:#fff;
$btn-focus-warning-bdr: $warning;
$btn-focus-warning-color: $warning;

$btn-gray-bg: #C9C8C7;
$btn-gray-bdr: #C9C8C7;
$btn-gray-color: #fff;
$btn-focus-gray-color: #fff;
$btn-focus-gray-bg:$btn-brand-bg-dark;
$btn-focus-gray-bdr: #282828;
$btn-focus-gray-color: #282828;

$btn-bdr-bg: rgba(0,0,0,0);
$btn-bdr-color: #006CEB;
$btn-bdrcolor: #0C29DA;

$btn-bdr-black-bg: rgba(0,0,0,0);
$btn-bdr-black-color: #172b54;
$btn-bdr-black-color: #172b54;
$btn-focus-bdr-black-bg: rgb(243, 243, 243);
$btn-focus-bdr-black-color: #172b54;
$btn-focus-bdr-black-color: #172b54;

$label-color: #333;
$label-font-size: 13px;
$label-margin-bottom: 5px;

$input-placeholder-color:rgba(25, 25, 25, 0.5);
$input-padding: 7px 15px;
$input-color:#22242A;
$input-bg: #F4F5F5;
$input-font-size: 13px;
$input-border-color: #ECECEC;
$input-border-color-focus: $brand-color;

$lblrequired:#ff615e;
$error-color:#ff615e;

$color-link: $brand-color;
$color-link-hover: $brand-color;

$white-bdr: #fff;