<div class="main-banner" >
    <video class="main-video" poster="/assets/images/banner-poster.png" >
        <source src="movie.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
        Your browser does not support the video tag.
     </video>
    <div class="banner-caption">
        <div class="banner-innercap">
            <a href="javascript:void(0);" class="play-banner"><img src="/assets/images/play.png" alt=""></a>
            <h1>Experienced Consulting</h1>
            <p>Helping you design success!</p>
        </div>
    </div>
    <a href="javascript:void(0);" class="page-down"><img src="/assets/images/icon-down.svg" alt=""></a>
</div>

<div class="block-row bg-light">
    <div class="container">
        <div class="flex inner-block logo-mask">
            <div class="cap-block ">
                <h2>Welcome 
                    <mark>Jason Goble LLC</mark>
                </h2>
                <p>Have a look around and learn all there is to know about us. Take a moment to drop us a line so we can talk about next steps.</p>
                <a href="javascript:void(0);" class="btn-more">FIND OUT MORE</a>
            </div>
            <figure class="img-block">
                <img src="/assets/images/welcome.png" alt="">
            </figure>
        </div>
    </div>
</div>
<div class="block-row bg-dark">
    <div class="container">
        <div class="flex inner-block">
            <figure class="img-block">
                <img src="/assets/images/our-ex.png" alt="">
            </figure>
            <div class="cap-block">
                <ul class="tabs">
                    <li><a href="javascript:void(0);">The Technical Stuff</a></li>
                    <li><a class="active" href="javascript:void(0);">Our Expertise</a></li>
                </ul>
                <div class="tabs-caption">
                    <div class="tabs-item">
                        <h3><small>WHAT WE DO</small>
                            Our Expertise
                        </h3>
                        <p>We're a group of accountants, analysts, advocates and strategists that thrive on sharing our experience and knowledge to help you make a success of your business. Our track record proves that clear communication and expert collaboration will boost your bottom line.</p>
                        <a href="javascript:void(0);" class="btn-next">LEARN MORE</a>
                    </div>
                    <div class="tabs-item hide">
                        <h3><small>WHAT WE DO</small>
                            Our Expertise
                        </h3>
                        <p>We're a group of accountants, analysts, advocates and strategists that thrive on sharing our experience and knowledge to help you make a success of your business. Our track record proves that clear communication and expert collaboration will boost your bottom line.</p>
                        <a href="javascript:void(0);" class="btn-next">LEARN MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="block-row bg-gray">
    <div class="container">
        <div class="title-row">
            <h2>FEATURED PRODUCTS</h2>
        </div>
        <div class="slider-block featured-prod">
             <div class="fprod-item">
                 <figure>
                     <img src="/assets/images/featured-1.png" alt="">
                 </figure>
                 <p>Basic Subscription to all Services </p>
                 <p><span><u>$350.00</u> $250.00</span></p>
             </div>
             <div class="fprod-item">
                 <figure>
                     <img src="/assets/images/featured-2.png" alt="">
                 </figure>
                 <p>Basic Subscription to all Services </p>
                 <p><span><u>$350.00</u> $250.00</span></p>
             </div>
             <div class="fprod-item">
                 <figure>
                     <img src="/assets/images/featured-3.png" alt="">
                 </figure>
                 <p>Basic Subscription to all Services </p>
                 <p><span><u>$350.00</u> $250.00</span></p>
             </div>
        </div>
        <div class="">
            <a href="javascript:void(0);" class="btn-next">View All Products</a>
        </div>
    </div>
</div>
<div class="block-row">
    <div class="container">
        <div class="title-row">
            <h2>ABOUT BUSINESS NAME</h2>
        </div>
        <div class="flex business-list">
            <div class="business-item">
                <figure><img src="/assets/images/our-experiance.png" alt=""></figure>
                <h3>Our Experience</h3>
                <p>After 30 years in the industry, we decided to alter direction. Now, we share our passion by helping others. Our ramp up process is designed to empower your team and outfit them with the tools they need to succeed. Talk to us today about how we can support your growth, limit your turnover, and put you on a solid track to success and profit.</p>
            </div> 
            <div class="business-item">
                <figure><img src="/assets/images/our-approach.png" alt=""></figure>
                <h3>Our Approach</h3>
                <p>Our service includes a comprehensive consult to help identify gaps and opportunities, a comprehensive report that includes a project plan with timelines and milestones, a cost analysis, and a schedule. We also offer a suite of quality products that will help you get there quickly and smoothly. That’s how we ensure your success.</p>
            </div> 
            <div class="business-item">
                <figure><img src="/assets/images/why-us.png" alt="w"></figure>
                <h3>Why Us?</h3>
                <p>Business mentors are key—that’s why when it comes to client selection, we’re choosy. We want to give each of you the time and guidance you deserve. Whether you’re seeking a strategic alliance with the right partner or a special skillset or tool, call us today. Together we’ll create and refine your plan for success. We didn’t get there alone. And neither will you.</p>
            </div> 
        </div>
    </div>
</div>
<div class="block-row bg-gray">
    <div class="container">
        <div class="title-row text-left">
            <h2>GET THEM TODAY</h2>
        </div>
        <div class="get-list">
            <div class="get-item">
                <figure>
                    <img src="/assets/images/our-experiance.png" alt="">
                    <i class="icon-play"><img src="/assets/images/play.png" alt=""></i>
                </figure>
                <div class="get-them-cap">
                    <h3>Marketing For Only $30</h3>
                    <p>Get The Best Marketing Today.</p>
                    <a href="javascript:void(0);">LEARN MORE</a>
                </div>
            </div> 
            <div class="get-item">
                <figure>
                    <img src="/assets/images/our-experiance.png" alt="">
                    <i class="icon-play"><img src="/assets/images/play.png" alt=""></i>
                </figure>
                <div class="get-them-cap">
                    <h3>Marketing For Only $30</h3>
                    <p>Get The Best Marketing Today.</p>
                    <a href="javascript:void(0);">LEARN MORE</a>
                </div>
            </div> 
            <div class="get-item">
                <figure>
                    <img src="/assets/images/our-experiance.png" alt="">
                    <i class="icon-play"><img src="/assets/images/play.png" alt=""></i>
                </figure>
                <div class="get-them-cap">
                    <h3>Marketing For Only $30</h3>
                    <p>Get The Best Marketing Today.</p>
                    <a href="javascript:void(0);">LEARN MORE</a>
                </div>
            </div> 
            <div class="get-item">
                <figure>
                    <img src="/assets/images/our-experiance.png" alt="">
                    <i class="icon-play"><img src="/assets/images/play.png" alt=""></i>
                </figure>
                <div class="get-them-cap">
                    <h3>Marketing For Only $30</h3>
                    <p>Get The Best Marketing Today.</p>
                    <a href="javascript:void(0);">LEARN MORE</a>
                </div>
            </div>               
        </div>
    </div>
</div>
<div class="block-row">
    <div class="container">
        <div class="title-row">
            <h2>JASON GOBLE CONSULTING</h2>
        </div>
        <div class=" pdf-list">
            <div class="pdf-item">
                <figure>
                    <img src="/assets/images/download-pdf.png" alt="">
                </figure>
                <div class="get-them-cap">
                    <a href="javascript:void(0);">
                        <img src="/assets/images/icon-pdf.svg" alt="">
                        Download PDF
                    </a>
                </div>
            </div> 
            <div class="pdf-item">
                <figure>
                    <img src="/assets/images/download-pdf.png" alt="">
                </figure>
                <div class="get-them-cap">
                    <a href="javascript:void(0);">
                        <img src="/assets/images/icon-pdf.svg" alt="">
                        Download PDF
                    </a>
                </div>
            </div> 
            <div class="pdf-item">
                <figure>
                    <img src="/assets/images/download-pdf.png" alt="">
                </figure>
                <div class="get-them-cap">
                    <a href="javascript:void(0);">
                        <img src="/assets/images/icon-pdf.svg" alt="">
                        Download PDF
                    </a>
                </div>
            </div> 
                          
        </div>
    </div>
</div>
<div class="block-row subscribe-row">
    <div class="container">
        <div class="subscribe-block flex">
            <h2>Subscribe</h2>
            <input type="text" placeholder="Email address">
            <button class="btn btn-bdr btn-white" type="button">sign up</button>
        </div>
    </div>
</div>
<app-footer class="footer"></app-footer>
