<div class="container">
    <div class="flex header-top">
        <div class="logo"><a href="index.html"><img src="/assets/images/logo.svg" alt="logo"></a></div>
        <ul class="right-cap-area">
            <li> <a href="javascript:void(0);"><img src="/assets/images/icon-search.svg" alt=""></a></li>
            <li><a href="javascript:void(0);"><img src="/assets/images/icon-cart.svg" alt=""></a></li>
            <li><a href="javascript:void(0);"><img src="/assets/images/icon-user.svg" alt=""></a></li>
            <li><a class="btn btn-bdr btn-brand" href="javascript:void(0);">Let's Started</a></li>
            <li><a class="btn btn-brand" href="javascript:void(0);">Contact us</a></li>
        </ul>
        <a href="javascript:void(0);" id="mobile-menu">
            <span></span>
        </a>
    </div>
    <nav id="mobile-navbar">
        <ul>
            <li class="active">
                <a href="javascript:void(0);">Services</a>
            </li>
            <li>
                <a href="javascript:void(0);">Accounting</a>
            </li>
            <li>
                <a href="javascript:void(0);">Taxes</a>
            </li>
            <li>
                <a href="javascript:void(0);">Marketing</a>
            </li>
            <li>
                <a href="javascript:void(0);">HUMAN RESOURCES</a>
            </li>
            <li>
                <a href="javascript:void(0);">SALES</a>
            </li>
            <li>
                <a href="javascript:void(0);">Operations</a>
            </li>
            <li>
                <a href="javascript:void(0);">Employee services</a>
            </li>
            <li>
                <a href="javascript:void(0);">STORE</a>
            </li>
        </ul>
    </nav>
</div>