<div class="container">
    <div class="flex inner-footer">
        <div class="logo">
            <a href="/"><img src="/assets/images/logo-white.png" alt=""></a>
        </div>
        <div class="address-col mid-col">
            <h6>JASON GOBLE CONSULTING </h6>
            <p>910 East 100 North Suite 175, Payson Utah 84651 Phone: 1-866-218-6852 Email: jason.goble@jasongoblellc.com</p>
        </div>
        <div class="address-col mid-col">
            <h6>QUICK LINKS</h6>
            <ul>
                <li><a href="javascript:void(0);">Accounting</a></li>
                <li><a href="javascript:void(0);">Taxes</a></li>
                <li><a href="javascript:void(0);">Human Resources</a></li>
                <li><a href="javascript:void(0);">Marketing</a></li>
                <li><a href="javascript:void(0);">Sales</a></li>
                <li><a href="javascript:void(0);">Operations</a></li>
                <li><a href="javascript:void(0);">Operations</a></li>
                <li><a href="javascript:void(0);">Employee Services</a></li>
                <li><a href="javascript:void(0);">StoreLets</a></li>
                <li><a href="javascript:void(0);">Get Started</a></li>
                <li><a href="javascript:void(0);">Privacy Policy</a></li>
                <li><a href="javascript:void(0);">Terms and Conditions</a></li>
            </ul>
        </div>
        <div class="social-col">
            <h3>FOLLOW US ON</h3>
            <ul>
                <li><a href="javascript:void(0);"><img src="/assets/images/fb.svg" alt=""></a></li>
                <li><a href="javascript:void(0);"><img src="/assets/images/instagram.svg" alt=""></a></li>
                <li><a href="javascript:void(0);"><img src="/assets/images/twitter.svg" alt=""></a></li>
                <li><a href="javascript:void(0);"><img src="/assets/images/youtube.svg" alt=""></a></li>
            </ul>
            <p class="copt-right">COPYRIGHT © 2021 JASON GOBLE CONSULTING - ALL RIGHTS RESERVED.</p>
        </div>
    </div>
</div>